.about-list {
    display: flex;
    justify-content: space-between;
}
.about-list-item {
    font-weight: 400;
    font-size: 30px;
    line-height: 1.23; 
}


.about-list-item-wrapper {
    font-weight: 600;
    font-size: 100px;
    line-height: 1.22;
    color: $accent-color;
}
