.advantages-list {
    display: flex;
    flex-wrap: wrap;
}
.checkbox {
    margin-right: 10px;
}
.advantages-list-item {
    display: flex;
    @media screen and (min-width: 1200px) {
        width: calc((100% - 60px*2)/3);
        &:not(:nth-child(3n)) {
            margin-right: 60px;  
        }
        &:not(:nth-last-child(-n+3)) {
            margin-bottom: 60px;
        }
}
@media screen and (max-width: 1199px) {
    width: calc((100% - 60px)/2);
    &:not(:nth-child(2n)) {
        margin-right: 60px;  
    }
    &:not(:nth-last-child(-n+2)) {
        margin-bottom: 60px;
    }
}
@media screen and (max-width: 767px) {
    width: 100%;
    margin-right: 0;
    &:not(:last-child){
        margin-bottom: 60px;
    }
}
}

.advantages-list-item::before {
    top: 0;
    display: inline-block;
    content: "";
    width: 30px;
    height: 30px;
}
.advantages-list-item::before {
    margin-right: 16px;
    background-image: url(../img/check-square1.svg);
  }

  .advantages-list-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.21;
    @media screen and (max-width: 767px) {
        font-weight: 500;
        font-size: 17px;
        line-height: 1.23;
    }
  }