.hero-section {
    background-image: url(../img/hero-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 230px;
    padding-bottom: 230px;
    text-align: center;
}
.hero-section-title {
    font-weight: 700;
    font-size: 50px;
    line-height: 1.22;
    color: $secondary-color;
    margin-bottom: 28px;
    @media screen and (max-width: 1199px) {
        font-size: 40px;
    }
    @media screen and (max-width: 767px) {
        font-size: 30px;
        line-height: 1.23;
    }
}

.hero-section-text {
    font-weight: 500;
    font-size: 30px;
    line-height: 1.23;
    color:$secondary-color;
    margin-bottom: 66px;
    @media screen and (max-width: 1199px) {
        font-size: 23px;
        line-height: 1.2;
    }
    @media screen and (max-width: 767px) {
        font-size: 17px;
        line-height: 1.11;
    }

}
.hero-btn {
    
    padding-top: 20px;
    padding-right: 70px;
    padding-bottom: 20px;
    padding-left: 70px;
    background-color: $accent-color;
    border-radius:  100px;
    font-family: $main-font;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    color: $main-color;
    border-color: transparent;
    @media screen and (max-width: 767px) {
        padding-top: 16px;
        padding-right: 35px;
        padding-bottom: 16px;
        padding-left: 35px;
        font-size: 20px;
    }
}